p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  text-align: center;
  margin-top: 400px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  background-image: url('./background.jpg');
  background-size: 100%;
  background-position: 50% 0%;
  background-color: #ccc8c6;
  background-repeat: no-repeat;

}



a,
a:hover,
a:visited {
  color: white;
  text-decoration: none;

}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  z-index: 1000;
}

.nav-left {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.nav right a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  gap: 32px;

}


    
